.Pension{
height: 2874px;
}
.mainscreen2{
    background: linear-gradient(119.36deg, rgb(76, 83, 187) 34.056%,rgb(128, 133, 207) 80.772%);
    height: 479px;
}
.mainscreen2 h1{
    font-size: 36px;
    font-weight: 900;
    line-height: 49px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.mainscreen2 p{
    color: rgba(0, 0, 0, 0.58);
    font-size: 20px;
    font-weight: 900;
    line-height: 27px;
    text-align: left;
    width: 523px;
}
.Block1{
    background: rgb(196, 196, 196);
    height: 780px;
}
.Block1 h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 87px;
    text-align: center;
}
.Block1 p{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}
.Block1 li{
    width: 288px;
    height: 231px;
    list-style: none;
}
.Block1 ul{
    display: flex;
    justify-content: space-between;
}
.number-background{
    border-radius: 31px;
    background: rgb(59, 59, 187);
    width: 100px;
    height: 100px;
}
.number-background p{
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding-top: 23px;
}
.list-text h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.list-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}